<%- include("partials/header") %>

  <div class="container-fluid">

    <!--        Section 1 Top Navbar ###############ss######################################################-->
    <div class="row">
      <div class="col-sm-12 topnav">
        <ul class="topnav-items">
          <li class="topnav-img"><img src="css/1.png" width="50px" height="50px" style="border-radius:20%;"></li>
          <li class="topnav-title">Joke Generator</li>
        </ul>
      </div>
    </div>

    <!--        Section 2 Jumbotron ######################################################################-->
    <div class="row">
      <div class="col-sm-12">
        <div class="jumbotron jumbotron-fluid">
          <div class="container animate__animated animate__zoomIn">
            <h1 class="display-3">Ha Ha Ha :)</h1>
            <p class="lead"><b>Looking for funny jokes? Settle in: You're in the right place. From clean knock-knock jokes and the top corny jokes to hilarious one-liners and clever riddles, we've got the jokes guaranteed to bring on serious
                laughs.</b></p>
          </div>
        </div>
      </div>
    </div>

    <!--        Header
#####################################################################-->

    <div>
      <h1 class="header">Categories</h1>
    </div>



    <!--        Section 3 search bar #####################################################################-->
    <div class="row">
      <div class="col-sm-12 parent animate__animated animate__slideInUp">
        <div class="item1">
          <a href="/random">
            <img class="typeofimage" src="css/11.png" width="300px" height="300px">
            <button type="button" class="btn btn-primary">Random</button>
          </a>
        </div>
        <div class="item1">

          <a href="/programming" name="type">
            <img class="typeofimage" src="css/22.png" width="300px" height="300px">
            <button type="button" class="btn btn-primary">Programming</button>
          </a>
        </div>
        <div class="item1">
          <a href="/general">
            <img class="typeofimage" src="css/33.png" width="300px" height="300px">
            <button type="button" class="btn btn-primary">General</button>
          </a>
        </div>
        <div class="item1">
          <a href="/knock-knock">
            <img class="typeofimage" src="css/44.png" width="300px" height="300px">
            <button type="button" class="btn btn-primary">Knock-Knock</button>
          </a>
        </div>
      </div>
    </div>



<%- include("partials/footer") %>
